<ion-header>
  Neptunus
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
     <ion-col><ion-card>
       <ion-card-header></ion-card-header>

       <ion-card-content>
        <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Neptune_-_Voyager_2_%2829347980845%29_flatten_crop.jpg/375px-Neptune_-_Voyager_2_%2829347980845%29_flatten_crop.jpg"> </ion-img>
        <ion-text color="dark">

          <h5>Neptunus  är den åttonde planeten från solen. Neptunus är en så kallad gasjätte, och har fått sitt namn efter havsguden Neptunus i romersk mytologi. Den 24 augusti 2006, då Internationella astronomiska unionen beslutade att Pluto inte längre var en planet, blev Neptunus den yttersta planeten i solsystemet. Neptunus var dock den yttersta planeten i solsystemet även mellan åren 1979 och 1999, eftersom Pluto då låg närmare solen än Neptunus.

            Neptunus är mycket lik Uranus, både i fråga om atmosfär och i fråga om kemisk sammansättning – båda består huvudsakligen av väte, helium och metan. Neptunus tar emot mindre än hälften så mycket solljus som Uranus, men den värme som härstammar från dess inre gör Neptunus något varmare än Uranus.
            
            Trots att Neptunus ligger längre bort från solen än vad Uranus gör har den en mycket livligare atmosfär. Den mest bekanta egenskapen hos Neptunus torde ha varit den stora mörka fläcken. Den hade en diameter på cirka 16 000 kilometer och är numera borta.Den påminde till form och läge om Jupiters stora röda fläck. Neptunus rotationsaxel lutar 28 grader, något mer än jordens (23 grader).
            
            Avståndet mellan jorden och Neptunus är cirka 4,4 miljarder kilometer. För Voyager 2 tog resan 12 år.</h5>
        </ion-text>
       
        <ion-button size="small" fill="clear" onclick="window.open('https://sv.wikipedia.org/wiki/Neptunus')"> Källa: wikipedia </ion-button>
       </ion-card-content>

     
     </ion-card></ion-col><ion-col><ion-card>
      <ion-card-header>Tellus</ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-chip slot="end">
              <ion-label >6 371,0 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Medelradie</ion-label>
             
          </ion-item>
          <ion-item>
            <ion-chip slot="end">
              <ion-label >6 378,1 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Ekvatorradie</ion-label>
             
          </ion-item><ion-item>
            <ion-chip slot="end">
              <ion-label >6 371,0 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Medelradie</ion-label>
             
          </ion-item><ion-item>
            <ion-chip slot="end">
              <ion-label >6 371,0 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Medelradie</ion-label>
             
          </ion-item>
        </ion-list>
      
       <ion-button size="small" fill="clear" onclick="window.open('https://sv.wikipedia.org/wiki/Neptunus')"> Källa: wikipedia </ion-button>
      </ion-card-content>

    
    </ion-card></ion-col><ion-col></ion-col>
    </ion-row>
</ion-grid>
</ion-content>