<ion-header>
  Uranus
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
     <ion-col><ion-card>
       <ion-card-header></ion-card-header>

       <ion-card-content>
        <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Uranus2.jpg/375px-Uranus2.jpg"> </ion-img>
        <ion-text color="dark">

          <h5>Uranus (symbol: ♅ eller Uranus symbol.svg) är den sjunde planeten från solen. Uranus är en av solsystemets fyra jätteplaneter - Jupiter, Saturnus, Uranus och Neptunus - och är av ungefär samma storlek som Neptunus. Planetens diameter är ungefär 50 000 km (ca 4 gånger så stor som jordens) och massan cirka 14,5 jordmassor. Planetens rotationsaxel har en lutning på hela 98 grader, vilket innebär att planeten snarast ”rullar” genom rymden på sin bana runt solen. Det tar 84 år för Uranus att fullborda ett varv runt solen.[2] På grund av Uranus lutning ger det mycket märkliga dygn och år. Under ungefär halva banan får nordpolen hela tiden solljus och det är sommar norr om ekvatorn. Sommaren följs av en 42 år lång vinter med norra halvklotet ständigt i natt eftersom det är vänt bort från solen.

            Dygnets längd kan vara olika beroende på var på Uranus man befinner sig. Vid polerna varar ett dygn från soluppgång till soluppgång i 42 jordår alltså 1/2 uranusår. Men i närheten av ekvatorn mätt från soluppgång till soluppgång är ett dygn 17 timmar.
            
            Avståndet mellan jorden och Uranus är cirka 3 miljarder kilometer. För Voyager 2 tog resan 8 år och 5 månader.</h5>
        </ion-text>
       
        <ion-button size="small" fill="clear" onclick="window.open('https://sv.wikipedia.org/wiki/Uranus')"> Källa: wikipedia </ion-button>
       </ion-card-content>

     
     </ion-card></ion-col><ion-col><ion-card>
      <ion-card-header>Uranus</ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-chip slot="end">
              <ion-label >6 371,0 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Medelradie</ion-label>
             
          </ion-item>
          <ion-item>
            <ion-chip slot="end">
              <ion-label >6 378,1 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Ekvatorradie</ion-label>
             
          </ion-item><ion-item>
            <ion-chip slot="end">
              <ion-label >6 371,0 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Medelradie</ion-label>
             
          </ion-item><ion-item>
            <ion-chip slot="end">
              <ion-label >6 371,0 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Medelradie</ion-label>
             
          </ion-item>
        </ion-list>
      
       <ion-button size="small" fill="clear" onclick="window.open('https://sv.wikipedia.org/wiki/Uranus')"> Källa: wikipedia </ion-button>
      </ion-card-content>

    
    </ion-card></ion-col><ion-col></ion-col>
    </ion-row>
</ion-grid>
</ion-content>