<ion-header>
  Markurius
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
     <ion-col><ion-card>
       <ion-card-header></ion-card-header>

       <ion-card-content>
        <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Mercury_Globe-MESSENGER_mosaic_centered_at_0degN-0degE.jpg/375px-Mercury_Globe-MESSENGER_mosaic_centered_at_0degN-0degE.jpg"> </ion-img>
        <ion-text color="dark">

          <h5>Merkurius är den innersta och minsta planeten i solsystemet, med en omloppstid runt solen av ungefär 88 dygn. På grund av sin närhet till solen är den svår att observera från jorden och kan bara ses i gryningen eller skymningen för blotta ögat eller med en fältkikare. Merkurius har ändå en observationshistoria på åtminstone 3 400 år, eftersom den finns dokumenterad i MUL.APIN, det babyloniska verk som behandlar babylonisk astronomi och astrologi.

            Man vet relativt lite om Merkurius. Mycket av informationen om planeten samlades in av den första rymdsonden som varit i närheten, Mariner 10 (1974–1976). Den 14 januari 2008 passerade dock den betydligt mer avancerade sonden MESSENGER planeten. Ytterligare två passager har gjorts av sonden.
            
            Ytan är ganska lik månens då den har relativt många kratrar. Merkurius har i princip ingen atmosfär, och yttemperaturen varierar mellan –173 grader Celsius i botten av kratrarna vid polerna och +427 grader Celsius på de varmaste ställena på solsidan. Planeten saknar, liksom Venus, naturliga satelliter (månar).
            
            Planetens namn kommer från romarna, som namngav den efter den romerske guden Mercurius. Den astronomiska symbolen för Merkurius är en stiliserad kaducé.</h5>
        </ion-text>
       
        <ion-button size="small" fill="clear" onclick="window.open('https://sv.wikipedia.org/wiki/Merkurius')"> Källa: wikipedia </ion-button>
       </ion-card-content>

     
     </ion-card></ion-col><ion-col><ion-card>
      <ion-card-header>Markurius</ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-chip slot="end">
              <ion-label >6 371,0 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Medelradie</ion-label>
             
          </ion-item>
          <ion-item>
            <ion-chip slot="end">
              <ion-label >6 378,1 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Ekvatorradie</ion-label>
             
          </ion-item><ion-item>
            <ion-chip slot="end">
              <ion-label >6 371,0 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Medelradie</ion-label>
             
          </ion-item><ion-item>
            <ion-chip slot="end">
              <ion-label >6 371,0 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Medelradie</ion-label>
             
          </ion-item>
        </ion-list>
      
       <ion-button size="small" fill="clear" onclick="window.open('https://sv.wikipedia.org/wiki/Merkurius')"> Källa: wikipedia </ion-button>
      </ion-card-content>

    
    </ion-card></ion-col><ion-col></ion-col>
    </ion-row>
</ion-grid>
</ion-content>