<ion-header>
  Jupter
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
     <ion-col><ion-card>
       <ion-card-header></ion-card-header>

       <ion-card-content>
        <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Jupiter.jpg/375px-Jupiter.jpg"> </ion-img>
        <ion-text color="dark">

          <h5>Jupiter (symbol: ♃) är den femte planeten från solen och är med stor marginal solsystemets största planet. Dess massa är 2,5 gånger så stor som alla de andra planeternas sammanlagda massa. Planeten är en så kallad gasjätte och man är inte säker på om planeten ens har en fast kärna. Planeten har fått sitt namn efter den största guden inom romerska mytologin, Jupiter.[8] Fastän namnet är romerskt har planeten varit känd, under andra namn, sedan urminnes tider (till exempel Δίας/Dias på grekiska).</h5>
        </ion-text>
       
        <ion-button size="small" fill="clear" onclick="window.open('https://sv.wikipedia.org/wiki/Jupiter')"> Källa: wikipedia </ion-button>
       </ion-card-content>

     
     </ion-card></ion-col><ion-col><ion-card>
      <ion-card-header>Jupter</ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-chip slot="end">
              <ion-label >6 371,0 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Medelradie</ion-label>
             
          </ion-item>
          <ion-item>
            <ion-chip slot="end">
              <ion-label >6 378,1 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Ekvatorradie</ion-label>
             
          </ion-item><ion-item>
            <ion-chip slot="end">
              <ion-label >6 371,0 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Medelradie</ion-label>
             
          </ion-item><ion-item>
            <ion-chip slot="end">
              <ion-label >6 371,0 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Medelradie</ion-label>
             
          </ion-item>
        </ion-list>
      
       <ion-button size="small" fill="clear" onclick="window.open('https://sv.wikipedia.org/wiki/Jupiter')"> Källa: wikipedia </ion-button>
      </ion-card-content>

    
    </ion-card></ion-col><ion-col></ion-col>
    </ion-row>
</ion-grid>
</ion-content>