<ion-header>
  Saturnus
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
     <ion-col><ion-card>
       <ion-card-header></ion-card-header>

       <ion-card-content>
        <ion-img src="https://www.twice.se/astroimages/astro/saturnus.jpg"> </ion-img>
        <ion-text color="dark">

          <h5>Saturnus är den sjätte planeten från solen och den näst största i solsystemet. Den är en gasjätte, känd sedan förhistorisk tid. Galileo Galilei var den första att observera den genom ett teleskop år 1610. Han såg planeten när ringarnas läge fick planeten att se ut som tre planeter jag en klump, gjorde gjorde dåtidens forskare mycket förbryllade. Saturnus har 95 gånger så stor massa som jorden och har nio gånger så stor diameter. Planeten är namngiven efter den romerska guden Saturnus.</h5>
        </ion-text>
       
        <ion-button size="small" fill="clear" onclick="window.open('https://sv.wikipedia.org/wiki/Saturnus')"> Källa: wikipedia </ion-button>
       </ion-card-content>

     
     </ion-card></ion-col><ion-col><ion-card>
      <ion-card-header>Saturnus</ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-chip slot="end">
              <ion-label >6 371,0 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Medelradie</ion-label>
             
          </ion-item>
          <ion-item>
            <ion-chip slot="end">
              <ion-label >6 378,1 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Ekvatorradie</ion-label>
             
          </ion-item><ion-item>
            <ion-chip slot="end">
              <ion-label >6 371,0 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Medelradie</ion-label>
             
          </ion-item><ion-item>
            <ion-chip slot="end">
              <ion-label >6 371,0 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Medelradie</ion-label>
             
          </ion-item>
        </ion-list>
      
       <ion-button size="small" fill="clear" onclick="window.open('https://sv.wikipedia.org/wiki/Saturnus')"> Källa: wikipedia </ion-button>
      </ion-card-content>

    
    </ion-card></ion-col><ion-col></ion-col>
    </ion-row>
</ion-grid>
</ion-content>