<ion-header>
  Venus
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
     <ion-col><ion-card>
       <ion-card-header></ion-card-header>

       <ion-card-content>
        <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Mars_Hubble.jpg/375px-Mars_Hubble.jpg"> </ion-img>
        <ion-text color="dark">

          <h5>Mars är den fjärde planeten från solen och solsystemets näst minsta planet. Den har fått sitt namn efter den romerska krigsguden Mars och kallas ibland för "den röda planeten" på grund av sitt rödaktiga utseende. Den röda färgen beror på stora mängder järnoxid (rost) som finns fördelat över ytan och i atmosfären. Mars är en av de fyra stenplaneterna och har en tunn atmosfär som till största delen består av koldioxid. Ytan är täckt av kratrar av olika storlekar likt månen, men Mars har precis som jorden även många vulkaner, dalgångar, vidsträckta slätter och iskalotter vid polerna.

            Under stora delar av Mars historia skedde långvariga vulkanutbrott vilka bland annat skapade Olympus Mons, solsystemets högsta berg. De stora utbrotten har sedan länge upphört, men på ett fåtal platser bedöms mindre utbrott ha skett för endast ett par miljoner år sedan. Då detta är en kort period i ett geologiskt perspektiv förmodas planeten kunna ha en viss kvarvarande geologisk aktivitet än idag. Till skillnad från jorden har dock Mars ingen aktiv plattektonik och inget globalt magnetfält.
            
            Mars kan utan problem observeras på natthimlen med blotta ögat. Dess skenbara magnitud når som mest -2,9 vilket endast överträffas av solen, månen och Venus. Den har en tydlig röd ton som fascinerat människan i årtusenden. Vissa delar av året då Mars befinner sig långt från jorden kan även Jupiter vara ljusare.
            
            Tidiga observatörer av Mars tolkade delar av dess morfologi med stor fantasi, kanske på grund av den mystik som omgav planeten och i viss mån fortfarande gör det. Bland annat hade man sett konstgjorda kanaler, pyramider, skulpterade ansikten och regioner som säsongvis täcktes med vegetation. Senare skulle det visa sig att allt detta var illusioner och att Mars är en obebodd och torr planet. Man tror dock att det en gång funnits stora mängder fritt vatten på Mars, och att en hel del av det finns kvar än idag i form av is, både över och under ytan.
            
            Senare forskning har visat att Mars har ett mer jordliknande klimat, med 120.000 års mellanrum och rinnande vatten.[5] Detta beror på att Mars axel tidvis lutar mycket kraftigt och stora mängder is smälter vid polerna.
            
            Mars har två månar, Phobos och Deimos, vilka båda är små och har en oregelbunden form. Månarna, vars namn är grekiska och betyder skräck och fruktan, förmodas vara infångade asteroider.</h5>
        </ion-text>
       
        <ion-button size="small" fill="clear" onclick="window.open('https://sv.wikipedia.org/wiki/Mars_(planet)')"> Källa: wikipedia </ion-button>
       </ion-card-content>

     
     </ion-card></ion-col><ion-col><ion-card>
      <ion-card-header>Venus</ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-chip slot="end">
              <ion-label >6 371,0 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Medelradie</ion-label>
             
          </ion-item>
          <ion-item>
            <ion-chip slot="end">
              <ion-label >6 378,1 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Ekvatorradie</ion-label>
             
          </ion-item><ion-item>
            <ion-chip slot="end">
              <ion-label >6 371,0 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Medelradie</ion-label>
             
          </ion-item><ion-item>
            <ion-chip slot="end">
              <ion-label >6 371,0 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Medelradie</ion-label>
             
          </ion-item>
        </ion-list>
      
       <ion-button size="small" fill="clear" onclick="window.open('https://sv.wikipedia.org/wiki/Mars_(planet)')"> Källa: wikipedia </ion-button>
      </ion-card-content>

    
    </ion-card></ion-col><ion-col></ion-col>
    </ion-row>
</ion-grid>
</ion-content>